/* 头部样式 */

.login-page {
    user-select: none;
    overflow-x: hidden;
}

.login-main {
    width: 100vw;
    height: 100vh;
    min-height: 514px;
    background: url(../../assets/images/background.png) center center no-repeat;
    background-size: cover;
}

.test-particles canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.login-main header {
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: absolute;
    padding: 0 40px;
    top: 0;
    left: 0;
}

.login-main .logo {
    height: 50px;
    font-size: 24px;
    color: #000;
    display: flex;
    align-items: center;
}

.login-main .logo img {
    margin-right: 10px;
}

/* 中间样式 */

.login-main .login-banner {
    max-width: 1030px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between
}

.login-main .login-banner .earth {
    z-index: 9;
    opacity: 0.85;
}

.login-main .login-banner .earth-circle {
    position: absolute;
    z-index: 10;
}

.login-main .login {
    background: #fff;
    width: 385px;
    min-height: 385px;
    padding: 25px;
    z-index: 10;
}

.login-main .login-fun {
    font-size: 18px;
    color: #535353;
    font-weight: normal;
}

.login-main .changeform {
    color: #B5B5B5;
    float: right;
    font-size: 12px;
    line-height: 25px;
    text-decoration: none;
}

.login-main .login-form {
    margin-top: 15px;
}

.login-main .login-form .ant-form-item-with-help {
    margin-bottom: 5px;
}

.login-main .ant-input-affix-wrapper input {
    height: 44px;
    font-size: 16px;
    line-height: 44px;
}

.login-main .captcha img {
    cursor: pointer;
    width: 100px;
    height: 44px;
}

.login-main .captcha .ant-input-affix-wrapper {
    width: 235px;
}

.login-main .login-form-button {
    width: 100%;
    height: 44px;
    font-size: 16px;
    background: #00C2DE;
    border: none;
}

.login-main .forgot {
    float: right;
}

.login-main .forgot a {
    color: #B5B5B5;
    font-size: 12px;
}

.login-footer {
    height: 44px;
    width: 100vw;
    line-height: 44px;
    font-size: 16px;
    padding-left: 40px;
}

.login-footer a {
    margin-right: 40px;
    color: #5f6162;
}

.login-footer a:hover {
    color: #5f6162;
    text-decoration: none;
}

@media screen and (min-width: 1500px) {
    .login-header-content {
        width: 1360px;
        margin: 0 auto;
    }

    .login-footer {
        width: 1360px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1065px) {
    .login-main .earth {
        display: none;
    }

    .login-main .login-banner {
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .login-main .logo span {
        font-size: 16px;
    }
}

@media screen and (max-width: 385px) {
    .login-main .login {
        width: 100%;
    }

    .login-main .captcha .ant-input-affix-wrapper {
        width: 80%;
    }
}