/* 头部样式 */

.register-page {
    user-select: none;
}

.register-main {
    width: 100vw;
    height: 100vh;
    min-height: 650px;
    background: url(../../assets/images/background.png) center center no-repeat;
    background-size: cover;
}

.test-particles canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.register-main header {
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: absolute;
    padding: 0 40px;
    top: 0;
    left: 0;
}

.register-main .logo {
    height: 50px;
    font-size: 24px;
    color: #000;
    display: flex;
    align-items: center;
}

.register-main .logo img {
    margin-right: 10px;
}

/* 中间样式 */

.register-main .register-banner {
    max-width: 1030px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between
}

.register-main .register-banner .earth{
    z-index: 9;
    opacity: 0.85;
}
.register-main .register-banner .earth-circle{
    position: absolute;
    z-index: 10;
}
.register-main .register {
    background: #fff;
    width: 385px;
    min-height: 385px;
    padding: 25px 25px 5px;
    z-index: 10;
}

.register-main .register-fun {
    font-size: 18px;
    color: #535353;
    font-weight: normal;
}

.register-main .changeform {
    color: #B5B5B5;
    float: right;
    font-size: 12px;
    line-height: 25px;
    text-decoration: none;
}

.register-main .register-form {
    margin-top: 15px;
}

.register-main .register-form .ant-form-item {
    margin-bottom: 20px;
}

.register-main .register-form .ant-form-item-with-help {
    margin-bottom: 1px;
}

.register-main .ant-input-affix-wrapper input {
    height: 44px;
    font-size: 16px;
    line-height: 44px;
}

.register-main .captcha img {
    cursor: pointer;
    width: 100px;
    height: 44px;
}

.register-main .captcha .ant-input-affix-wrapper {
    width: 235px;
}

.register-main .register-form-button {
    width: 100%;
    height: 44px;
    font-size: 16px;
    background: #00C2DE;
    border: none;
}

.register .register-form .ant-select-search__field {
    height: 44px;
}

.register .register-form .ant-select-selection {
    height: 44px;
}

.register-footer {
    height: 44px;
    width: 100%;
    line-height: 44px;
    font-size: 16px;
    margin: 0 auto;
    padding-left: 40px;
}

.register-footer a {
    margin-right: 40px;
    color: #5f6162;
    text-decoration: none;
}

.register-footer a:hover {
    color: #5f6162;
    text-decoration: none;
}

@media screen and (min-width: 1500px) {
    .register-header-content {
        width: 1360px;
        margin: 0 auto;
    }
    .register-footer {
        width: 1360px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1065px) {
    .register-main .earth {
        display: none;
    }
    .register-main .register-banner {
        width: 100%;
    }
    .register-main .register {
        margin: 0 auto;
        float: none;
    }
}

@media screen and (max-width: 700px) {
    .register-main .logo span {
        font-size: 16px;
    }
    .register-main .register {
        margin: 0 auto;
        float: none;
    }
}

@media screen and (max-width: 500px) {
    .register-footer {
        font-size: 14px;
    }
}

@media screen and (max-width: 385px) {
    .register-main .register {
        width: 100%;
    }
    .register-main .captcha .ant-input-affix-wrapper {
        width: 80%;
    }
}