#console {
    width: 100%;
    min-height: calc(100vh - 90px);
    margin: 0 auto;
    border: 1px solid #eee;
    background: #fff;
    padding: 20px;
    display: inline-block;
}

#console .ant-table {
    font-size: 18px;
}

#console .ant-table-title, .filelist-table .ant-table-title {
    padding-top: 0;
}

#console .ant-table .ellipsis-column {
    max-width: 200px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.filelist-table .ant-table .file-desc {
    max-width: 120px;
    margin: 0;
}

.filelist-table .ant-table-body {
    overflow: auto hidden !important;
}

#console .ant-tag {
    font-size: 14px;
    line-height: 24px;
    margin-right: 0;
}

#console .ant-btn {
    font-size: 16px;
}

#console .data-loading-mask {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

#console .data-loading-mask .close-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    cursor: pointer;
}

#console .data-loading-mask .close-icon .anticon {
    color: #fff;
}

#console .data-loading-mask .ant-spin-text {
    font-size: 18px;
}

.log-modal, .file-modal {
    width: 100% !important;
    max-width: 1000px;
    top: 0;
}

.img-modal {
    width: 800px !important;
    text-align: center;
}

.img-modal img {
    max-width: 100%;
}

.log-modal .ant-modal-close-x, .file-modal .ant-modal-close-x, .img-modal .ant-modal-close-x {
    width: 28px;
    height: 28px;
    line-height: 28px;
    position: absolute;
    right: 8px;
}

.log-modal .ant-modal-close, .file-modal .ant-modal-close, .img-modal .ant-modal-close {
    width: 100%;
    max-width: 1000px;
    position: fixed;
    top: 0;
    right: unset;
}

.file-modal {
    height: 100vh;
    padding-bottom: 0;
}

.file-modal iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.log-modal p {
    font-family: "consolas";
    font-size: 16px;
}

.ant-notification {
    width: 460px;
}

.ant-notification-notice {
    padding: 16px;
}

.notice-content {
    padding: 0;
}

.notice-content li span {
    font-size: 14px;
    display: inline-block;
    width: 60px;
    text-align: right;
    margin-right: 10px;
}

.vis-modal {
    width: 100vw !important;
    height: 100vh;
    top: 0;
    padding-bottom: 0;
}

.vis-modal .ant-modal-content, .vis-modal .ant-modal-body {
    height: 100%;
}

.vis-modal .ant-modal-close {
    z-index: 9999;
}

.vis-modal .ant-modal-close-x {
    float: right;
    z-index: 999999;
}

.vis-modal .ant-modal-body {
    padding: 0;
    overflow-y: hidden;
}

.filelist-table .ant-table-tbody>tr>td {
    padding: 16px 8px;
}

.filelist-table .table-item-name {
    margin: 0;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}

.ant-drawer {
    z-index: 500;
}

.ant-drawer-content-wrapper {
    max-width: 100%;
}

.ant-popover-message {
    display: flex;
    align-items: center;
}

.ant-popover-message>.anticon {
    font-size: 16px;
    position: unset;
    top: unset;
}

.ant-popover-message-title {
    padding-left: 12px;
}

@media(max-width:768px) {
    #console {
        padding: 10px;
        min-height: calc(100vh - 50px)
    }
    #console .ant-table {
        font-size: 16px !important;
    }
    #console .ant-table-title {
        padding-top: 0;
    }
    #console .ant-table .ant-table-thead th, #console .ant-table .ant-table-tbody td {
        padding: 8px !important;
    }
}

@media(max-width:576px) {
    #console .ant-table-scroll colgroup col:nth-child(2), #console .ant-table-fixed-left colgroup col:nth-child(2) {
        width: 120px !important;
    }
}