#bdcenter .site-layout-background {
  padding: 20px;
  margin: 0;
  min-height: 280px;
}

#bdcenter .ant-upload-drag-icon span {
  visibility: hidden;
}

#bdcenter .ant-upload-drag-icon span svg {
  visibility: visible;
}

#bdcenter .ant-upload-list-item-info {
  display: flex
}

#bdcenter .ant-upload-text-icon {
  position: relative;
}

#bdcenter .ant-upload-text-icon span {
  position: absolute;
  width: 22px;
  height: 22px;
  margin: 0;
  margin-top: -5px;
  visibility: hidden;
}

#bdcenter .ant-upload-text-icon span svg {
  margin: 0;
  width: 18px;
  height: 18px;
  visibility: visible;
}

#bdcenter .ant-upload-list-item-card-actions button span {
  visibility: hidden;
}

#bdcenter .ant-upload-list-item-card-actions button span svg {
  visibility: visible;
  margin-left: -5px
}

#bdcenter .upload {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

#bdcenter p img {
  max-width: 950px;
  height: auto;
}

#bdcenter .ant-input {
  min-width: 100px;
  min-height: 20px
}

#bdcenter .ant-calendar-picker {
  width: 100%;
}

#bdcenter .ant-calendar {
  top: 3px;
}

#bdcenter .selectKey .ant-form-item-label, #bdcenter .selectKey .ant-form-item-control {
  line-height: 32px;
}

#bdcenter .selectKey .ant-form-item {
  width: 100%;
}

#bdcenter .selectKey .ant-form-item-label {
  width: 120px;
  text-align: right;
}

#bdcenter .selectKey .ant-form-item-control-wrapper {
  width: calc(100% - 120px);
}

#bdcenter .ant-table .ellipsis-column {
  max-width: 150px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
}

#bdcenter .ant-table .ellipsis-column2 {
  max-width: 150px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
}

#bdcenter .ant-table .ellipsis-column3 {
  max-width: 300px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
}

@media(max-width:576px) {
  #bdcenter .site-layout-background {
    padding: 0;
  }
}