#bdcenter .site-layout-background {
  padding: 20px;
  margin: 0;
  min-height: 280px;
}

#bdcenter .ant-upload-drag-icon span {
  visibility: hidden;
}

#bdcenter .ant-upload-drag-icon span svg {
  visibility: visible;
}

#bdcenter .ant-upload-list-item-info {
  display: flex
}

#bdcenter .ant-upload-text-icon {
  position: relative;
}

#bdcenter .ant-upload-text-icon span {
  position: absolute;
  width: 22px;
  height: 22px;
  margin: 0;
  margin-top: -5px;
  visibility: hidden;
}

#bdcenter .ant-upload-text-icon span svg {
  margin: 0;
  width: 18px;
  height: 18px;
  visibility: visible;
}

#bdcenter .ant-upload-list-item-card-actions button span {
  visibility: hidden;
}

#bdcenter .ant-upload-list-item-card-actions button span svg {
  visibility: visible;
  margin-left: -5px
}

#bdcenter .upload {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

#bdcenter p img {
  max-width: 950px;
  height: auto;
}

#bdcenter .ant-input {
  min-width: 100px;
  min-height: 20px
}

#bdcenter .ant-calendar-picker {
  width: 100%;
}

.ant-calendar {
  top: 35px;
}

.ant-calendar-input-wrap {
  display: none;
}

#bdcenter .select-key .ant-form-item-label, #bdcenter .select-key .ant-form-item-control {
  line-height: 32px;
}

#bdcenter .select-key .ant-form-item {
  width: 100%;
}

#bdcenter .ant-table .ellipsis-column {
  max-width: 150px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
}

#bdcenter .ant-table .ellipsis-column2 {
  max-width: 150px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
}

#bdcenter .ant-table .ellipsis-column3 {
  max-width: 300px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
}

#bdcenter .search-type, #bdcenter .search-area {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

#bdcenter .search-area {
  display: inline-flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

#bdcenter .search-area .select-key {
  width: calc(100% - 204px);
  margin-right: 20px;
}

#bdcenter .search-type .name, #bdcenter .search-area .name {
  width: 120px;
  text-align: right;
}

#bdcenter .dataset-select {
  width: calc(100% - 120px);
}

@media(max-width:576px) {
  #bdcenter .site-layout-background {
    padding: 0;
  }
}

@media(max-width:400px) {
  #bdcenter .search-type, #bdcenter .search-area {
    display: block;
  }
  #bdcenter .search-type .name, #bdcenter .search-area .name {
    display: block;
    text-align: left;
    margin-bottom: 8px;
  }
  #bdcenter .search-area .select-key {
    width: calc(100% - 84px);
    margin-right: 20px;
    display: inline-block;
  }
  #bdcenter .dataset-select {
    width: 100%;
  }
}