#chart-container {
    padding: 80px 90px 80px 80px;
    position: relative;
    width: 1000px;
    font-size: 14px;
}

#matrix_chart {
    box-sizing: unset;
    border: 1px solid #000;
    width: 830px;
    height: 300px;
}

#chart-container #legend {
    position: absolute;
    right: 0;
    top: 80px;
    width: 75px;
    display: flex;
    height: 300px;
}

#chart-container #legend .color-bar {
    box-sizing: unset;
    height: 100%;
    width: 30px;
    border: 1px solid #000;
    background: linear-gradient(#f5ff13, #ffc23a, #c2bc5f, #64bf85, #0dafbc, #118ad1, #0662e1, #362f86);
}

#chart-container #legend .color-num {
    box-sizing: unset;
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 1em;
    margin-left: 5px;
}

#chart-container #legend .color-num span {
    height: 0;
    display: flex;
    align-items: center;
}

#chart-container #x-axis {
    position: absolute;
    left: 80px;
    bottom: 55px;
    height: 20px;
    width: 830px;
}

#chart-container #x-axis span {
    width: 0;
    display: flex;
    justify-content: center;
    position: absolute;
}

#chart-container #x-axis::before {
    content: "X[m]";
    position: absolute;
    top: 1em;
    width: 830px;
    text-align: center;
    font-weight: bold;
}

#chart-container #y-axis {
    position: absolute;
    left: 35px;
    top: 80px;
    height: 300px;
    width: 40px;
    line-height: 1em;
}

#chart-container #y-axis span {
    height: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 0;
}

#chart-container #y-axis::before {
    content: "Z[m]";
    position: absolute;
    height: 300px;
    writing-mode: vertical-lr;
    text-align: center;
    transform: rotate(180deg);
    font-weight: bold;
}

.lgmf-file .input-file-wrapper {
    position: relative;
    width: calc(100% - 120px);
    display: flex;
    align-items: center;
}

.lgmf-file .input-file {
    cursor: pointer;
    overflow: hidden;
    line-height: 32px;
}

.lgmf-file .input-file input {
    position: absolute;
    font-size: 18px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.lgmf-file .input-file:hover {
    cursor: pointer;
}

.lgmf-file .input-file-wrapper .file-name {
    max-width: calc(100% - 98px);
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    line-height: 20px;
}

#multiFile .file-icon {
    width: 76px;
    margin-left: 90px;
    cursor: pointer;
    transition: all .3s;
}

#multiFile .file-icon:hover {
    color: #1890ff;
}

#multiFile .file-icon .anticon {
    margin-right: 4px;
}

#multiFile .file-icon .file-name {
    white-space: nowrap;
}

@media(max-width:998px) {
    #chart-container {
        padding: 40px 70px 40px 40px;
        width: 730px;
    }
    #matrix_chart {
        width: 620px;
        height: 220px;
    }
    #chart-container #legend {
        right: 0;
        top: 40px;
        width: 60px;
        height: 220px;
    }
    #chart-container #legend .color-bar {
        height: 100%;
        width: 20px;
    }
    #chart-container #legend .color-num {
        height: 100%;
        width: 40px;
    }
    #chart-container #x-axis {
        left: 40px;
        bottom: 15px;
        height: 20px;
        width: 620px;
    }
    #chart-container #x-axis::before {
        top: 1em;
        width: 620px;
    }
    #chart-container #y-axis {
        left: 0px;
        top: 40px;
        height: 220px;
        width: 40px;
    }
    #chart-container #y-axis::before {
        height: 220px;
    }
}

@media(max-width:768px) {
    #chart-container {
        padding: 40px 70px 40px 40px;
        width: 580px;
    }
    #matrix_chart {
        width: 470px;
        height: 168px;
    }
    #chart-container #legend {
        right: 0;
        top: 40px;
        width: 60px;
        height: 168px;
    }
    #chart-container #legend .color-bar {
        height: 100%;
        width: 20px;
    }
    #chart-container #legend .color-num {
        height: 100%;
        width: 40px;
    }
    #chart-container #x-axis {
        left: 40px;
        bottom: 15px;
        height: 20px;
        width: 470px;
    }
    #chart-container #x-axis::before {
        top: 1em;
        width: 470px;
    }
    #chart-container #y-axis {
        left: 0px;
        top: 40px;
        height: 168px;
        width: 40px;
    }
    #chart-container #y-axis::before {
        height: 168px;
    }
}

@media(max-width:576px) {
    #chart-container {
        padding: 40px 60px 40px 40px;
        width: 430px;
    }
    #matrix_chart {
        width: 330px;
        height: 122px;
    }
    #chart-container #legend {
        right: 0px;
        top: 40px;
        width: 50px;
        height: 122px;
    }
    #chart-container #legend .color-bar {
        height: 100%;
        width: 10px;
    }
    #chart-container #legend .color-num {
        height: 100%;
        width: 40px;
    }
    #chart-container #x-axis {
        left: 40px;
        bottom: 15px;
        height: 20px;
        width: 330px;
    }
    #chart-container #x-axis::before {
        top: 1em;
        width: 330px;
    }
    #chart-container #y-axis {
        left: 0px;
        top: 40px;
        height: 122px;
        width: 40px;
    }
    #chart-container #y-axis::before {
        height: 122px;
    }
}