#calculate {
    height: 100vh;
    overflow: hidden;
}

.calculate-header {
    background: #fff;
    height: 50px;
    width: 100%;
    line-height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #e6e9ed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calculate-title {
    font-size: 18px;
    white-space: nowrap;
    max-width: calc(100% - 184px);
    text-overflow: ellipsis;
    overflow: hidden;
}

.calculate-logo {
    height: 50px;
    display: flex;
    align-items: center;
}

.calculate-logo img {
    height: 24px;
}

.calculate-quit {
    width: 72px;
    text-align: right;
    font-size: 24px;
    color: #04b0e9;
}

.calculate-content {
    height: calc(100% - 50px);
}

.calculate-col {
    height: 100%;
    transition: all .3s;
}

.calculate-col .ant-card {
    height: 100%;
}

.calculate-col .ant-card .ant-card-extra {
    padding: 0;
}

.calculate-col .ant-card-head {
    height: 40px;
}

.calculate-col .ant-card-head-title {
    font-size: 16px;
    font-weight: 400;
    padding: 8px 0;
}

.calculate-col .ant-card-body {
    padding: 15px;
    height: calc(100% - 48px);
    border-right: 1px solid #e6e9ed;
    overflow-y: auto;
    overflow-x: hidden;
}

.calculate-col p {
    margin: 0;
}

.calculate-col .ant-card-body .ant-empty-image {
    height: 100%;
}

.calculate-form .ant-form-item {
    margin-bottom: 5px;
}

.calculate-form .ant-form-item-required::before {
    display: none;
}

.calculate-form .ant-form-item-label label {
    font-weight: 500;
}

.calculate-form .ant-checkbox-group {
    line-height: unset;
}

.calculate-form .ant-form-item-control, .calculate-form .ant-form-item-children {
    width: 100%;
}

.calculate-form .upload-btn .ant-btn {
    height: 32px !important;
    font-size: 14px !important;
}

.calculate-form .devide-line {
    border-top: 2px solid #999;
    position: relative;
    margin: 14px 0;
}

.calculate-form .devide-line .devide-line-title {
    position: absolute;
    top: -13px;
    left: 20px;
    background-color: #fff;
    padding: 0 5px;
    font-weight: bold;
    font-style: italic;
}

.calculate-form .ant-input-disabled {
    color: rgba(0, 0, 0, 0.65);
}

.material-modal .title {
    font-weight: bold;
}

.material-modal .ant-form-item {
    margin-bottom: 0;
}

.material-modal .ant-form-item-control {
    line-height: unset;
}

.app-button {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 0;
}

.calculate-map {
    width: 100%;
    height: 100%;
}

.loginfo-modal, .file-modal {
    width: 100% !important;
    max-width: 1000px;
    top: 0;
}

.img-modal {
    width: 800px !important;
    text-align: center;
}

.img-modal img {
    max-width: 100%;
}

.loginfo-modal .ant-modal-close-x, .file-modal .ant-modal-close-x, .img-modal .ant-modal-close-x, .listener-modal .ant-modal-close-x {
    width: 28px;
    height: 28px;
    line-height: 28px;
    position: absolute;
    right: 8px;
}

.loginfo-modal .ant-modal-close, .file-modal .ant-modal-close, .img-modal .ant-modal-close, .listener-modal .ant-modal-close {
    width: 100%;
    max-width: 1000px;
}

.loginfo-modal p {
    font-family: "consolas";
    font-size: 16px;
}

.input-file-wrapper .ant-form-item-control-wrapper, .input-file-wrapper .ant-form-item-control, .input-file-wrapper .ant-form-item-children {
    height: 40px;
    display: flex;
    align-items: center;
}

.input-file {
    cursor: pointer;
    overflow: hidden;
    line-height: 32px;
}

.input-file input {
    position: absolute;
    font-size: 18px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.input-file:hover {
    cursor: pointer;
}

.input-file-wrapper .file-name {
    max-width: calc(100% - 98px);
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#calculate .ant-btn:not(.input-file) {
    height: 44px;
    font-size: 16px;
}

.resdata-p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

#calculate .data-loading-mask {
    background-color: rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

#calculate .data-loading-mask .close-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    cursor: pointer;
}

#calculate .data-loading-mask .close-icon .anticon {
    color: #fff;
}

#calculate .data-loading-mask .ant-spin-text {
    font-size: 18px;
}

.vis-modal {
    width: 100vw !important;
    height: 100vh;
    top: 0;
    padding-bottom: 0;
}

.vis-modal .ant-modal-content, .vis-modal .ant-modal-body {
    height: 100%;
}

.vis-modal .ant-modal-close {
    z-index: 9999;
}

.vis-modal .ant-modal-close-x {
    float: right;
    z-index: 999999;
}

.vis-modal .ant-modal-body {
    overflow-y: hidden;
    padding: 0;
}

.tiny-listener {
    line-height: 30px;
    background: #fff;
    display: none;
}

.listener-btn {
    float: right;
    color: #1890ff;
    cursor: pointer;
}

.listener-btn:hover {
    color: #40a9ff;
}

.mod-help {
    font-size: 16px;
    padding-top: 16px;
}

.mod-help p {
    margin: 4px;
}

.mod-help p span {
    font-weight: bold;
}

#calculate .btn-area {
    width: 100%;
    max-width: 380;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#calculate .ant-table {
    font-size: 16px;
}

.calc-filelist-table .ant-btn {
    height: 32px;
    font-size: 14px;
}

.calc-filelist-table .ant-table-tbody>tr>td {
    padding: 16px 8px;
}

.calc-filelist-table .table-item-name {
    margin: 0;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}

#calculate .file-icon {
    width: 76px;
    position: absolute;
    top: 15px;
    left: calc(33% + 130px);
    cursor: pointer;
    transition: all .3s;
    line-height: 0;
}

#calculate .file-icon-2 {
    position: relative;
    left: 33%;
    top: 0;
    line-height: 22px;
}

#calculate .file-icon:hover {
    color: #1890ff;
}

#calculate .file-icon .anticon {
    margin-right: 4px;
}

#calculate .file-icon .file-name {
    white-space: nowrap;
}

.select-hide {
    display: none;
}

.calc-time {
    font-size: 16px;
}

@media(max-width:970px) and (min-width:768px) {
    #calculate .file-icon:not(.file-icon-2) .file-name {
        display: none;
    }
}

@media(max-width:870px) {
    #calculate .btn-area {
        justify-content: center;
    }
}

@media(max-width:768px) {
    #calculate .ant-table, .calc-time {
        font-size: 14px;
    }
    .mod-help {
        font-size: 14px;
    }
    #calculate {
        min-height: 100vh;
        height: auto;
    }
    #calculate .calculate-col {
        height: auto !important;
    }
    .calculate-header {
        padding: 0 10px;
    }
    .calculate-title {
        max-width: calc(100% - 164px);
    }
    #calculate .ant-col-xs-24.ant-form-item-label {
        display: block;
        margin: 0;
        padding: 0 0 8px;
        line-height: 1.5;
        white-space: initial;
        text-align: left;
    }
    .normal-listener {
        display: none;
    }
    .tiny-listener {
        display: block;
    }
    #calculate .file-icon:not(.file-icon-2) {
        left: calc(33% + 120px);
    }
    #calculate .btn-area {
        justify-content: space-around;
    }
    #calculate .btn-area button {
        width: 116px !important;
    }
    .ant-drawer-body {
        padding: 10px;
    }
    .calc-filelist-table .table-item-name {
        max-width: 100px;
    }
}

@media(max-width:576px) {
    #calculate .file-icon:not(.file-icon-2) {
        top: 44px;
        left: 120px;
    }
    #calculate .file-icon.file-icon-2 {
        left: 0;
    }
}