.homepage {
    min-width: 220px;
}

.homepage .person .box-shadow, .homepage .plat .box-shadow {
    height: 260px;
    background-color: #fff;
    margin-top: 10px;
    display: flex;
}

.homepage .person .box-shadow {
    padding: 20px;
}

.homepage .person .avatar {
    width: 180px;
    height: 220px;
    border-radius: 5px;
    padding: 10px;
    line-height: 200px;
}

.homepage .person .avatar img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.homepage .person .personality {
    width: 100%;
    padding: 18px 0 18px 20px;
}

.homepage .personality .login-btn {
    text-align: center;
}

.homepage .personality .login-btn a {
    color: #1890ff;
    cursor: pointer;
    line-height: 144px;
}

.homepage .personality .login-btn span:hover {
    color: #40a9ff;
}

.homepage .personality ul {
    margin-bottom: 0;
    padding-left: 0;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

.homepage .personality li {
    min-height: 36px;
    line-height: 36px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.homepage .personality .key {
    width: 70px;
    text-align: right;
    white-space: nowrap;
}

.homepage .personality .value {
    width: calc(100% - 70px);
    padding-left: 20px;
}

.homepage .plat .plat-img {
    width: 220px;
    height: 220px;
    margin: 20px 0;
}

.homepage .plat .plat-img img {
    width: 100%;
    height: 100%;
}

.homepage .plat .textarea {
    padding: 20px;
    width: calc(100% - 220px);
}

.homepage .plat .textarea h3 {
    margin: 0 0 5px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.1em;
}

.homepage .plat .textarea p {
    max-height: 170px;
    text-indent: 2em;
    margin-bottom: 5px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.homepage .plat .textarea .more {
    position: absolute;
    bottom: 8px;
    right: 25px;
}

@media (max-width:576px) {
    .homepage .person .box-shadow, .homepage .plat .box-shadow {
        height: auto;
    }
    .homepage .person .personality {
        padding: 0;
    }
    .homepage .person .login-btn span {
        line-height: 14px;
    }
    .homepage .person .box-shadow, .homepage .plat .box-shadow {
        display: block;
    }
    .homepage .person .avatar, .homepage .plat .plat-img {
        display: block;
        margin: 0 auto;
    }
    .homepage .person .avatar {
        height: 180px;
        line-height: unset;
        padding: 0 10px 20px 10px;
    }
    .homepage .person .personality, .homepage .plat .textarea {
        width: 100%;
    }
    .homepage .plat .textarea p {
        max-height: none;
        -webkit-line-clamp: unset;
    }
}

@media (max-width:768px) {
    .homepage {
        overflow-x: hidden;
    }
    .homepage .title {
        margin-top: 10px;
        padding-left: 20px;
    }
}

@media (max-width:991px) {
    .homepage .plat .title {
        margin-top: 10px;
    }
}