.homepage {
    min-width: 220px;
}

.homepage .top-block {
    height: 220px;
    background-color: #fff;
    margin-top: 10px;
    display: flex;
    display: -webkit-flex;
}

.homepage .person {
    padding: 20px;
}

.homepage .avatar {
    width: 180px;
    height: 180px;
    border-radius: 5px;
    padding: 10px;
}

.homepage .avatar img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.homepage .personality {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

.homepage .personality ul {
    margin-bottom: 0;
    padding-left: 0;
}

.homepage .personality li {
    min-height: 36px;
    line-height: 36px;
}

.homepage .personality .prop-name {
    width: 50px;
    text-align: right;
    white-space: nowrap;
}

.homepage .personality .prop {
    width: calc(100% - 130px);
    padding-left: 20px;
}

.homepage .personality .prop p {
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.homepage .personality .prop-btn {
    width: 60px;
    white-space: nowrap;
}

.homepage .plat-img {
    width: 220px;
    height: 220px;
}

.homepage .plat-img img {
    width: 100%;
    height: 100%;
}

.homepage .plat-desc .textarea {
    padding: 20px;
    width: calc(100% - 220px);
}

.homepage .textarea h3 {
    margin: 0 0 5px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.homepage .textarea p {
    max-height: 140px;
    text-indent: 2em;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.homepage .textarea .more {
    position: absolute;
    bottom: 8px;
    right: 25px;
}

@media (max-width:576px) {
    .homepage .top-block {
        height: auto;
    }

    .homepage .title {
        margin-top: 10px;
    }

    .homepage .personality {
        padding-left: 0;
    }

    .homepage .person,
    .homepage .plat-desc {
        display: block;
    }

    .homepage .plat-desc .plat-img,
    .homepage .person .avatar {
        display: block;
        margin: 0 auto;
    }

    .homepage .plat-desc .textarea,
    .homepage .person .personality {
        width: 100%;
    }
}