.home-header {
    background-color: #ffffff;
    border-bottom: 1px#e6e9ed solid;
    position: fixed;
    width: 100%;
    padding: 0 20px;
    vertical-align: middle;
    line-height: 50px;
    height: 50px;
    z-index: 1000;
}

.home-header a:link {
    text-decoration: none;
}

.home-header a:visited {
    text-decoration: none;
}

.home-header a:hover {
    text-decoration: none;
}

.home-header a:active {
    text-decoration: none;
}

.home-header .leftdiv {
    float: left;
    color: rgb(102, 102, 102);
}

.home-header .leftdiv a {
    color: rgb(102, 102, 102);
    display: flex;
    align-items: center;
}

.home-header .rightdiv {
    float: right;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    height: 100%;
}

.rightdiv .searcher {
    margin-right: 28px;
}

.rightdiv .searcher input {
    border-radius: 15px;
    height: 30px;
    font-size: 14px;
}

.dropdown {
    height: 100%;
    display: flex;
    display: -webkit-flex;
}

.dropdown div {
    margin: 0 16px;
}

.dropdown div i {
    position: relative;
    top: 4px;
}

.dropdown .ant-badge-count {
    height: 16px;
    width: 16px;
    min-width: 10px;
    padding: 0 5px;
    line-height: 16px;
}

@media screen and (max-width: 768px) {
    .leftdiv span {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .home-header {
        padding-right: 5px;
    }
    .rightdiv .searcher {
        margin-right: 5px;
    }
    .dropdown div {
        margin: 0 5px;
    }
}

@media screen and (max-width: 400px) {
    .rightdiv .searcher .ant-input-affix-wrapper {
        width: 120px !important;
    }
}