#moudule-list .app-row, #moudule-list .ant-col {
    display: flex;
    align-items: stretch;
}

#moudule-list .ant-col {
    display: flex;
    align-items: stretch;
}

.app {
    width: 100%;
    margin-top: 10px;
    display: inline-flex;
}

.app-des {
    width: calc(100% - 80px);
    height: auto;
    background: white;
    padding: 15px 20px;
}

.app-icon {
    height: auto;
    width: 80px;
    font-size: 36px;
    color: #3294dd;
    background: #fff;
    border-right: 1px solid #d9d9d9;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.app-des .module-name {
    color: #004392;
    font-weight: bold;
    cursor: pointer;
}

.app-list {
    margin: 10px 0 0 20px;
}

.app-list ul, .module-modal ul {
    padding-left: 0;
    margin-bottom: 0;
}

.app-list li, .module-modal li {
    margin-bottom: 8px;
}

.app-list li a, .module-modal li a {
    color: #333;
}

.app-list li span, .module-modal li span {
    cursor: pointer;
}

.icon-link, .icon-menu, .icon-enter {
    margin-left: 10px;
    font-weight: bold;
    color: #3294dd;
}