#moudule-list .app-row, #moudule-list .ant-col {
    display: flex;
    align-items: stretch;
}

.app {
    width: 100%;
    margin-top: 10px;
    display: inline-flex;
}

.app-des {
    width: calc(100% - 180px);
    height: auto;
    background: white;
    padding: 15px 40px;
}

.app-icon {
    height: auto;
    width: 180px;
    font-size: 64px;
    color: #3294dd;
    background: #fff;
    border-right: 1px solid #d9d9d9;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.app-des .module-name {
    color: #004392;
    font-weight: bold;
    cursor: pointer;
}

.app-list {
    margin: 10px 0 0 20px;
}

.app-list ul, .module-modal ul {
    padding-left: 0;
    margin-bottom: 0;
}

.app-list li, .module-modal li {
    margin-bottom: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.app-list li i, .module-modal li i {
    margin-right: 10px;
    color: #1890ff;
    position: relative;
    top: 1px;
}

.app-list li a, .module-modal li a {
    color: #333;
    transition: color .3s;
}

.app-list li span, .module-modal li span {
    cursor: pointer;
    transition: color .3s;
}

.app-list li a:hover, .module-modal li a:hover, .app-list li span:hover, .module-modal li span:hover {
    color: #40a9ff;
}

.doc .ant-drawer-title {
    font-weight: bold;
}

.doc .ant-drawer-body p {
    text-indent: 2em;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0.5em;
}

.pdf-modal {
    width: 80% !important;
}

.pdf-modal .react-pdf__Page__textContent, .pdf-modal .react-pdf__Page__annotations {
    display: none;
}

.pdf-modal .react-pdf__Page__svg, .pdf-modal .react-pdf__Page__svg svg {
    margin: 0 auto;
    width: 100% !important;
    max-width: 1200px;
    height: 141.4% !important;
}

.pdf-modal .ant-pagination {
    text-align: center;
}

.ant-modal-body, .ant-modal-title {
    font-size: 20px;
}

@media(max-width:1440px) {
    .app-des {
        width: calc(100% - 140px);
        padding: 15px 35px;
    }
    .app-icon {
        width: 140px;
        font-size: 56px;
    }
}

@media(max-width:1200px) {
    .app-des {
        width: calc(100% - 120px);
        padding: 15px 20px;
    }
    .app-icon {
        width: 120px;
        font-size: 48px;
    }
}

@media(max-width:998px) {
    .app-des {
        width: calc(100% - 100px);
        padding: 15px 20px;
    }
    .app-icon {
        width: 100px;
        font-size: 48px;
    }
}

@media(max-width:576px) {
    .app-des {
        width: calc(100% - 80px);
        padding: 15px 10px;
    }
    .app-icon {
        width: 80px;
        font-size: 48px;
    }
    .ant-modal-body {
        font-size: 14px;
    }
    .ant-modal-title {
        font-size: 16px;
    }
}