.details {
    height: 100vh;
    width: 100vw;
    padding-top: 50px;
    overflow: hidden;
}

.details-header {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    height: 50px;
    width: 100%;
    line-height: 50px;
    padding: 0;
    border-bottom: 1px solid #e6e9ed;
    text-align: center;
}

.details-title {
    font-size: 18px;
}

.details-logo {
    position: fixed;
    left: 20px;
    color: rgb(102, 102, 102);
}

.details-logo img {
    margin-right: 10px;
    height: 24px;
    position: relative;
    top: -3px;
}

.details-quit {
    position: fixed;
    right: 0;
    line-height: 50px;
    margin-right: 20px;
    font-size: 24px;
    color: #04b0e9;
}

.details-content {
    height: 100%;
}

.details-card {
    height: 100%;
}

.details-card .ant-card {
    height: 100%;
}

.details-card .ant-card-head {
    min-height: 40px;
}

.details-card .ant-card-head-title {
    font-size: 16px;
    font-weight: 400;
    padding: 8px 0;
}

.details-card .ant-card-body {
    padding: 15px;
    height: calc(100% - 40px);
    border-right: 1px solid #e6e9ed;
    overflow-y: auto;
    overflow-x: hidden;
}

.details-card .ant-card-body .ant-empty-image {
    height: 100%;
}

.details-form .ant-form-item {
    margin-bottom: 5px;
}

.details-form .ant-form-item-required::before {
    display: none;
}

.details-form .ant-form-item-label label {
    font-weight: 500;
}

.details-form .ant-checkbox-group {
    line-height: unset;
}

.app-button {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    padding: 20px 30px 0;
}

.details-map {
    width: 100%;
    height: 100%;
}

.loginfo-modal {
    width: 100% !important;
    max-width: 1200px;
}

.loginfo-modal .ant-modal-close-x {
    width: 28px;
    height: 28px;
    line-height: 28px;
}

/* .loginfo-modal .ant-modal-close-x svg {
    fill: #fff;
} */

.loginfo-modal p {
    /* color: #fff; */
    font-family: "consolas";
    font-size: 16px;
}

.input-file-wrapper .ant-form-item-control-wrapper,.input-file-wrapper .ant-form-item-control,.input-file-wrapper .ant-form-item-children {
    height: 40px;
    display: flex;
    align-items: center;
}

.input-file {
    cursor: pointer;
    overflow: hidden;
    line-height: 32px;
}

.input-file input {
    position: absolute;
    font-size: 18px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.input-file:hover {
    cursor: pointer;
}

@media screen and (max-width: 965px) {
    .details-logo span {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .details {
        min-height: 100vh;
        height: auto;
    }
    .details .details-card {
        height: auto !important;
    }
    .ant-col-xs-24.ant-form-item-label {
        display: block;
        margin: 0;
        padding: 0 0 8px;
        line-height: 1.5;
        white-space: initial;
        text-align: left;
    }
}

@media (max-width: 575px) {
    .ant-col-xs-24.ant-form-item-label {
        display: block;
        margin: 0;
        padding: 0 0 8px;
        line-height: 1.5;
        white-space: initial;
        text-align: left;
    }
}